.featured-section {
  position: relative;
  background-image: url('../../../assets/home/featured.jpg');
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.90) 100%), url('../../../assets/home/featured.jpg');
  background-blend-mode: overlay;
}
