.featured-section {
  position: relative;
  background-image: url('../../../assets/home/featured.jpg');
  background-size: cover;
  background-position: center;
  background-color:#3f3f46;
  background-blend-mode: overlay;
}
